:root {
    --tc-primary: #ffffff;
    --tc-secondary: #E9E9E9;
    --tc-accent: #FF8800;

    --hc-primary: #ffffff;
    --hc-secondary: #AAAAAA;
    --hc-highlight: #FF8800;
    
    --bc-primary: #000000;
    --bc-secondary: #181818;
    --bc-hw-gradient: linear-gradient(#3d001c, #0a0a0a);
    --bc-cl-gradient: linear-gradient(#00273d, #0a0a0a);

    --sub-accent: #00273d;
    --sub-hover-accent: #003655;

    --fc-separator: #424242;

    --sm-primary: #c4c4c4;
    --sm-accent: #e9e9e9;

    --nav-primary: #c4c4c4;
    --nav-accent: #e9e9e9;
    --nav-background: #141414;

    --ff-default: "Roboto", sans-serif;
}

html {
    font-family: var(--ff-default);
    box-sizing: border-box;
    background-color: var(--bc-primary);
    color: var(--tc-primary);
    font-size: 1.2rem;
}

body {
    margin: 0 0 53px 0;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    margin-left: 5%;
    margin-right: 5%;
}

p {
    line-height: 130%;
}

a:focus, a:active {
    outline: 0;
}

button::-moz-focus-inner {
    border: 0;
}

/*------------------------navigation------------------------*/

#nav_container {
    background: var(--nav-background);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    margin-bottom: -1px;
    z-index: 500;
}

nav {
    width: 100%;
    margin: auto;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 7px;
    padding-inline-start: 0;
    overflow-x: auto;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
}

.nav-icon {
    height: 25px;
}

.nav-icon-color {
    fill: var(--nav-primary);
    transition: 0.3s;
}

.nav-text {
    font-size: 0.55rem;
    font-weight: 300;
    color:var(--nav-primary);
    text-decoration: none;
    transition: 0.3s;
    padding-top: 0.2rem;
}

.nav-element:hover .nav-icon-color {
    fill: var(--nav-accent);
}

.nav-element:hover .nav-text {
    color: var(--nav-accent);
    text-decoration: none;
}

/*------------------------logo------------------------*/

#logo {
    display: block;
    height: 50px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.7rem;
}

/*------------------------intro section------------------------*/

#intro-section {
    display: grid;
    grid-template-rows: 0.4fr 1.5fr 0.5fr 0.4fr;
    margin-bottom: 0.8rem;
    overflow: auto;
}

#intro-header {
    text-align: center;
}

#intro-title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--hc-secondary);
}

#intro-subtitle {
    font-weight: 550;
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0;
}

#title-img {
    height: 28rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#quote {
    text-align: right;
    font-style: italic;
    font-weight: 200;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

#sig-container {
    display: grid;
}

#slash-signature {
    width: 6rem;
    margin-left: auto;
    margin-right: 0;
}

/*------------------------hardware------------------------*/

#hardware-title {
    font-size: 2.3rem;
    margin-bottom: 0;
    margin-top: 1.1rem;
    text-align: left;
}

#hardware-section {
    background: var(--bc-hw-gradient);
    margin-left: -5.5%;
    margin-right: -5.5%;
    overflow: hidden;
}

#hardware-bg-container {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
}

#superior {
    color: var(--hc-highlight);
}

#hardware-text {
    color:var(--tc-secondary);
}

#hw-img {
    height: 23rem;
    margin-right: -6%;
    margin-left: auto;
    margin-top: 0.5rem;
    margin-bottom: 2.2rem;
    max-width: 100%;
    object-fit: cover;
    object-position: left;
}

/*------------------------materials------------------------*/

#materials-section {
    display: grid;
    overflow: auto;
}

#materials-title {
    color: var(--hc-secondary);
    font-size: 2.1rem;
    margin-bottom: 0.2rem;
}

#materials-subtitle {
    font-size: 2.1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

#materials-img {
    height: 26rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

#materials-text-container {
    color: var(--tc-secondary);
    margin-bottom: 1.5rem;
}

/*------------------------collection------------------------*/

#collection-title {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    color: var(--hc-highlight);
}

#collection-subtitle {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

#collection-section {
    background: var(--bc-cl-gradient);
    margin-left: -5.5%;
    margin-right: -5.5%;
    overflow: auto;
}

#collection-bg-container {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
}

#collection-text {
    margin-bottom: 1.5rem;
}

#slash-collection {
    border: 1px solid var(--tc-primary);
    color: var(--tc-primary);
    text-decoration: none;
    padding: 5px 11px;
    border-radius: 0.7rem;
    font-size: 0.9rem;
}

#video {
    width: 90vw;
    height: 50.625vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*------------------------footer------------------------*/

#footer-container {
    background: var(--bc-secondary);
    margin-left: -5.5%;
    margin-right: -5.5%;
    margin-top: 2rem;
    overflow: hidden;
}

#footer-bg-container {
    display: grid;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

/*------------------------email------------------------*/

#email {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
}

#email-form {
    margin-bottom: 0;
}

#email-text {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--tc-secondary);
}

#email-box {
    flex: 1;
    margin-right: 1rem;
    max-width: 22rem;
    background-color: var(--bc-secondary);
    color: var(--tc-secondary);
    font-size: 0.9rem;
    font-weight: 300;
    border: solid 0.5px var(--tc-secondary);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;
}

#sub-button {
    border: 0;
    margin-right: auto;
    margin-left: 0;
    background-color: var(--sub-accent);
    color: var(--tc-secondary);
    border-radius: 7px;
    font-weight: 300;
    font-size: 0.8rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    transition: 0.3s;
}

#sub-button:hover {
    background-color: var(--sub-hover-accent);
    cursor: pointer;
}

/*------------------------social media------------------------*/

#social-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.social-icon {
    height: 2.5rem;
}

.social-icon-color {
    fill: var(--sm-primary);
    transition: 0.3s;
}

.social-icon:hover .social-icon-color {
    fill: var(--sm-accent);
}

/*------------------------misc------------------------*/

#copyright {
    font-size: 0.8rem;
    color: var(--tc-secondary);
    font-weight: 300;
    margin-top: 1.3rem;
    margin-bottom: 0;
}

#misc-ul {
    list-style: none;
    padding-inline-start: 0;
    line-height: 150%;
    margin-left: -12px;
}

.misc-link {
    text-decoration: none;
    color: var(--tc-secondary);
    font-weight: 300;
    font-size: 0.8rem;
    border-right: solid var(--fc-separator) 1px;
    padding: 0 12px 0 12px;
}

.misc-link:last-child {
    border: 0;
}

/*------------------------media------------------------*/

@media screen and (max-width: 373px){
    #email-box {
        max-width: 10.3rem;
    }
}

/*---------------------------------
Device: tablet / min-width: 768px/
---------------------------------*/

@media screen and (min-width: 768px){

    p {
        font-size: 1.1rem;
    }

    /* intro */
    #intro-section {
        overflow: visible;
        margin-bottom: 2.5rem;
    }
    
    #title-img {
        transform: rotate(90deg);
        height: 40rem;
        margin-top: -10rem;
        margin-bottom: -10rem;
    }

    #intro-text {
        text-align: center;
        font-size: 1.3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #quote {
        margin-top: 0.9rem;
        text-align: center;
        font-size: 1.3rem;
    }

    #slash-signature {
        margin-left: 52%;
        margin-right: auto;
        width: 7rem;
    }
    
    /* materials */
    #materials-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.5fr;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2rem;
    }

    #materials-title-container {
        grid-column: 2/3;
        margin-left: 1rem;
        margin-bottom: 0;
        margin-top: auto;
    }

    #materials-subtitle {
        margin-bottom: 0;
    }

    #materials-img {
        grid-row: 1/3;
        margin-top: 3rem;
        margin-right: 1rem;
        margin-left: auto;
    }

    #materials-text-container {
        margin: 0 2rem auto 1rem;
    }
}

/*---------------------------------
Device: tablet / min-width: 1085px/
---------------------------------*/

@media screen and (min-width: 1085px){

    p {
        font-size: 1.1rem;
    }

    /* intro */
    #intro-title {
        font-size: 1.6rem;
    }


    #intro-subtitle {
        font-size: 3rem;
    }

    #title-img {
        height: 50rem;
        margin-top: -13rem;
        margin-bottom: -14rem;
    }

    #quote {
        font-size: 1.5rem;
        margin-top: 0;
    }

    /* hardware */
    #hardware-section {
        margin-left: 0;
        margin-right: 0;
        border-radius: 1rem;
    }

    #hardware-bg-container {
        grid-template-columns: 1fr 1.5fr;
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }

    #hardware-title {
        font-size: 3rem;
    }

    #hw-img {
        grid-row: 1/3;
        grid-column: 2/3;
        overflow: visible;
        margin-top: 2rem;
    }
    
    #hardware-text {
        grid-row: 2;
        grid-column: 1/2;
    }

    /* materials */
    #materials-section {
        padding-top: 3rem;
        padding-bottom: 0;
        grid-template-rows: 1fr 1.2fr;
        grid-template-columns: 1fr 1.2fr;
    }

    #materials-title {
        font-size: 3rem;
    }

    #materials-subtitle {
        font-size: 3rem;
    }

    #materials-text {
        padding-right: 1.5rem;
    }

    #materials-img {
        margin-top: 0;
    }

    /* collection */
    #collection-section {
        margin-left: 0;
        margin-right: 0;
        border-radius: 1rem;
    }

    #collection-bg-container {
        grid-template-columns: 1fr 1.6fr;
        grid-template-rows: 0.4fr 1fr;
        padding-top: 0.6rem;
        padding-bottom: 1rem;
        margin-left: 1.7rem;
        margin-right: 1.7rem;
    }

    #collection-title-container {
        grid-column: 1/3;
        margin-bottom: 0;
        margin-top: auto;
    }

    #collection-title {
        font-size: 3rem;
        margin-top: 0;
    }

    #collection-subtitle {
        font-size: 3rem;
        margin-top: 0;
    }

    #collection-text-container {
        grid-row: 2;
        grid-column: 1/2;
    }

    #slash-collection {
        font-size: 1rem;
    }

    #video {
        width: 49.5vw;
        height: 27.84375vw;
        grid-row: 2/3;
        grid-column: 2;
        margin-top: 1.2rem;
        margin-right: 0;
        margin-left: auto;
    }

    /* footer */
    #footer-bg-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        padding-top: 0.5rem;
    }

    #social-media {
        margin-top: auto;
        margin-bottom: auto;
    }

    #social-ul {
        padding-bottom: 0.5rem;
        justify-content: flex-end;
    }

    .social-container {
        margin-left: 4rem;
    }

    #copyright {
        font-size: 0.7rem;
    }

    #misc {
        margin-right: 0;
        margin-left: auto;
    }

    .misc-link {
        font-size: 0.7rem;
    }

    .misc-link:last-child {
        padding-right: 0;
    }
}
